<div class="container">
    <mat-toolbar>
        <span>Tablas</span>
        <span class="example-spacer"></span>
        <button mat-button>Temperature</button>
        <span class="example-spacer"></span>
    </mat-toolbar>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z3">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID Dispositivo </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Tiempo </th>
            <td mat-cell *matCellDef="let element"> {{element.time}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>