<div class="container">
    <mat-toolbar>
        <span class="example-spacer"></span>
        <button mat-button (click)="getMeasures('temperature')">Temperatura</button>
        <button mat-button (click)="getMeasures('humidity')">Humedad</button>
        <button mat-button (click)="getMeasures('irrigation')">Radiación</button>
        <button mat-button (click)="getMeasures('window')">Ventanas</button>
        <button mat-button (click)="getMeasures('heater')">Calefacción</button>
        <span class="example-spacer"></span>
    </mat-toolbar>

    <div class="mat-elevation-z3">
        <google-chart
            [title]="title"
            [type]="type"
            [data]="dataForChart"
            [columns]="columnList">
        </google-chart>
    </div>
</div>